.tag {
  background: #e1f9ff;
  color: #14596b;
  padding: 4px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  fa-icon {
    margin-right: 10px;
  }
}