.title-sign {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #001E2D;
}

form {
  margin: 20px 0;
}

.use-term {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  .detail-term {
    color: #F64740;
  }
}

.to-login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F64740;
}
