<app-header></app-header>
<div class="content">
  <div class="card-newAd">
    <div class="position-left">
      <p class="title-Ad">Teste</p>
      <p class="date-Ad">Publicado </p>
      <div class="img-step">
        <img src="https://www.w3schools.com/w3images/img_lights.jpg" alt="Lights" style="width:100%">
      </div>
      <p class="price-ad">R$ 960</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cum ducimus laudantium id, at inventore dolorum blanditiis magnam fugit maiores, aliquid ipsa minima. Sit similique facilis quaerat totam architecto delectus.</p>
      <app-tag-card
        iconName="truck-fast"
        tagCard="faz envio"
      ></app-tag-card>
      <p class="location">Localização</p>
      <div class="locaiton-inside">
        <p class="region">Estado</p>
        <p class="region-value">Ceara</p>
      </div>
      <div class="locaiton-inside">
        <p class="region">Cidade</p>
        <p class="region-value">Fortaleza</p>
      </div>
    </div>
    <div class="position-right">
      <div class="formt-price">
        <p class="price-in-formt">R$ 960</p>
      </div>
      <div class="formt-about-own">
        <p class="name-own">Lucas</p>
        
      </div>
    </div>
  </div>
</div>