.card-ad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  flex: 1 1 0%;
  position: relative;
  padding: 16px 16px 16px 0px;
  align-items: center;
  cursor: pointer;
  background-color: #f6f6f6;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  .background-img {
    width: 287.43px;
    height: 190px;
    min-width: 128px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    .organization-img {
      width: 100%;
      height: 100%;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      background-color: #e5e5e5;
      overflow: hidden;
      .img-ad {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .content-card {
    display: flex;
    flex: 1 1 0%;
    height: 190px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 16px;
    .up-side {
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      gap: 20px;
      .title-ad {
        font-size: 16px;
        word-break: break-all;
        line-height: 1.32;
        font-weight: 500;
      }
      .price-ad {
        font-size: 20px;
        font-weight: 500;
      }
      .installment {
        font-size: 14px;
        font-weight: 300;
        .installmentSpan {
          text-overflow: ellipsis;
          max-width: 4em;
        }
      }
    }
    .middle-side {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 8px;
      .tag {
        background: #e1f9ff;
        color: #14596b;
        padding: 4px 8px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        fa-icon {
          margin-right: 10px;
        }
      }
    }
    .down-side {
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      gap: 20px;
      .location-ad {
        word-break: break-word;
        font-size: 14px;
        line-height: 1.32;
        font-weight: 300;
      }
      .hora-ad {
        font-size: 14px;
        line-height: 1.32;
        font-weight: 300;
      }
    }
  }
}


@media (min-width: 79.5em) {
  .background-img {
    width: 287.43px;
    min-width: 190px;
  }
}

@media (min-width: 52.5em) {
  .background-img {
    width: 259.03px;
    min-width: 259.03px;
  }
}

@media (min-width: 37.5em) {
  .background-img {
    width: 204.5px;
    min-width: 204.5px;
  }
}

@media (min-width: 79.5em) {
  .background-img {
    width: 287.43px;
    min-width: 190px;
  }
}

@media (min-width: 52.5em) {
  .background-img {
    width: 259.03px;
    min-width: 259.03px;
  }
}

@media (min-width: 37.5em) {
  .background-img {
    width: 204.5px;
    min-width: 204.5px;
  }
}

@media (max-width: 43.7em) {
  .card-ad {
    padding: 10px !important;
    gap: 10px;
    .content-card {
      margin-left: 0px !important;
      height: 100% !important;
    }
  }
}
