<form [formGroup]="signForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="inputEmail" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="inputPassword" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</form>

