.content {
  margin: 100px 120px;
  .welcome {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    .description-content {
      font-size: 30px;
      text-align: center;
    }
  }
  .card-newAd {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #e5d9d9;
    .content-newAd {
      float: left;
      margin-right: 2.65487%;
      width: 48.67257%;
    }
  }
}


@media (max-width: 43.7em) {
  .content-newAd {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
