<app-header></app-header>
<div class="position-card">
  <div class="card">
    <img class="img-ad" src="../../../assets/img/mouse-gamer.jpg" />
    <div class="position-description-ad">
      <p class="title-ovo">Mouse gamer</p>
      <p class="description-ad">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda, fugit molestias ullam libero omnis dicta</p>
      <div class="position-description">
        <p class="price-ad">R$ 200</p>
        <p class="location-ovo">Fortaleza/Ce</p>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="img-ad" src="../../../assets/img/mouse-gamer.jpg" />
    <div class="position-description-ad">
      <p class="title-ovo">Mouse gamer</p>
      <p class="description-ad">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda, fugit molestias ullam libero omnis dicta</p>
      <div class="position-description">
        <p class="price-ad">R$ 200</p>
        <p class="location-ovo">Fortaleza/Ce</p>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="img-ad" src="../../../assets/img/mouse-gamer.jpg" />
    <div class="position-description-ad">
      <p class="title-ovo">Mouse gamer</p>
      <p class="description-ad">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda, fugit molestias ullam libero omnis dicta</p>
      <div class="position-description">
        <p class="price-ad">R$ 200</p>
        <p class="location-ovo">Fortaleza/Ce</p>
      </div>
    </div>
  </div>
</div>
