<div class="background-screen">
  <mat-card class="card-style">
    <div class="position-style">
      <img class="style-gif" src="./assets/img/loving-love.gif" />
      <p class="sytle-welcome">Seja bem vindo ao <span class="love-computer">Love Computer</span></p>
      <p class="description-welcome">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    </div>
    <div class="position-btn">
      <button class="btnDefault btnLogin" mat-stroked-button color="warn" (click)="openLogin('500ms', '500ms')">Sou membro</button>
      <button class="btnDefault btnSign" mat-raised-button color="warn" (click)="openSign('500ms', '500ms')">Me tornar um Lover</button>
    </div>

  </mat-card>
</div>
