
//  codigo
.background-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 70px 30px;
}

.style-card {
  width: 650px;
  max-width: 100%;
}


