<div class="background-default">
  <mat-card class="style-card">
    <div class="title-welcome">
      <h5 class="text-welcome">Seja bem vindo á love computer!</h5>
      <p class="description-welcome">A plaforma de compra e venda focado em tech</p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text"  />
      </mat-form-field>
      <div >
        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <example-tel-input formControlName="tel" required></example-tel-input>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="position-botton">
      <button class="styleBtnAuth" mat-raised-button (click)="modalLogin('500ms','500ms')">login</button>
      <button class="styleBtnAuth" mat-raised-button (click)="modalSign('500ms','500ms')">cadastrar</button>
    </div>
  </mat-card>
</div>

