<app-header></app-header>
<div class="content">
  <div class="welcome">
    <div class="card-newAd">
      <div class="content-newAd">
        <form [formGroup]="editForm">
          <mat-form-field appearance="outline" class="ui-g-6">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="inputName" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-6">
            <mat-label>sobrenome</mat-label>
            <input matInput type="text" formControlName="inputLastName" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-12">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="inputEmail" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-3">
            <mat-label>sexo</mat-label>
            <input matInput type="text" formControlName="inputSex" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-3">
            <mat-label>data de nascimento</mat-label>
            <input matInput type="text" formControlName="inputBirthday" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-6">
            <mat-label>telefone</mat-label>
            <input matInput type="text" formControlName="inputPhone" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-4">
            <mat-label>cidade</mat-label>
            <input matInput type="text" formControlName="inputCity" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-4">
            <mat-label>estado</mat-label>
            <input matInput type="text" formControlName="inputState" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-4">
            <mat-label>bairro</mat-label>
            <input matInput type="text" formControlName="inputNeighbourhood" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="ui-g-12">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="inputPassword" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button class="btn-modal-auth" (click)="editProfile()">Editar uisuário</button>
        </form>
      </div>
    </div>
  </div>
</div>