$main-color-btn: linear-gradient(253.98deg, #97122fff 8.07%, rgb(85, 0, 18) 108.12%);
$main-color-font: rgba(0, 0, 0, 0.8);
$sec-color-font: #97122fff;
$the-color-font: #ffffff;
$for-color-font: #898989;
$icon-color: #c0c0c0;
$dark-color: #000;
$hover-btn: rgba(196, 196, 196, 0.5);
$bg-icon: #E5E5E5;
$border-radius: 6px;
$btn-action-edit: #457b9d;
$btn-action-delet: #e63946;
