@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: $font-family;
}

$font-family: "Montserrat", sans-serif;

$fontSize53: 3.313rem;
$fontSize44: 2.75rem;
$fontSize40: 2.5rem;
$fontSize35: 2.188rem;
$fontSize24: 1.5rem;
$fontSize20: 1.25rem;
$fontSize18: 1.125rem;
$fontSize16: 1rem;
$fontSize14: 0.875rem;
$fontSize12: 0.75rem;
$fontSize10: 0.625rem;
