$main-color-font: rgba(0, 0, 0, 0.8);
$sec-color-font: #F64740;
$the-color-font: #ffffff;
$for-color-font: #898989;
$icon-color: #c0c0c0;
$dark-color: #000;
$hover-btn: rgba(196, 196, 196, 0.5);
$bg-icon: #E5E5E5;
$btn-action-edit: #457b9d;
$btn-action-delet: #e63946;
